<br>
<br>

<h3>Lista de vehículos</h3>
<br>
<a class="btn btn-primary" routerLink="/vehiculos/crear-vehiculo">Crear Vehículo</a>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Placa
            </th>
            <th>
                Marca
            </th>
            <th>
                Referencia
            </th>
            <th>
                Modelo
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehiculo of listaVehiculos">
            <td>
                {{vehiculo.id}}
            </td>
            <td>
                {{vehiculo.placa}}
            </td>
            <td>
                {{vehiculo.marca}}
            </td>
            <td>
                {{vehiculo.referencia}}
            </td>
            <td>
                {{vehiculo.modelo}}
            </td>
            <td>
                <a class="btn btn-primary" routerLink="/vehiculos/editar-vehiculo/{{vehiculo.id}}">Editar</a>
                <a class="btn btn-danger" routerLink="/vehiculos/eliminar-vehiculo/{{vehiculo.id}}">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>